version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: schooly-app
    ports:
      - "9000:8080"
    env_file:
      - .env
    volumes:
      - ./storage:/var/www/html/storage
      - ./bootstrap/cache:/var/www/html/bootstrap/cache
    restart: unless-stopped
