name: Trigger auto deployment for schooly-v2

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/schooly-v2-AutoDeployTrigger-72376139-5776-4e87-838e-0977b14c744e.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.SCHOOLYV2_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.SCHOOLYV2_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SCHOOLYV2_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: heartlineregistry.azurecr.io
          registryUsername: ${{ secrets.SCHOOLYV2_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.SCHOOLYV2_REGISTRY_PASSWORD }}
          containerAppName: schooly-v2
          resourceGroup: portfolio
          imageToBuild: heartlineregistry.azurecr.io/schooly-v2:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


